#header h1{
    display: flex;
    font-size: 5rem;
    color: rgb(237, 192, 255);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
#header p{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: darkmagenta;
}

#main-visual img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    margin: 0 auto;
    justify-content: center;
    max-width: 1024px; 
    height: 600px;
    margin-top: 400px;
    border-radius: 5%; 
  
}
#content{
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
}

#content ul img{
    width: 500px;
    height: 600px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    object-fit: cover;
    margin: 0 auto;
    padding: 40px ;
    border-radius: 20%;

}
#content ul li{
    display: flex;
   

}

.text{
    display: inline-block;
    color: darkcyan;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
}
.text span{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto;
    color: darkmagenta;
   
   
}
.reverse{
    flex-direction: row-reverse;
    display: flex;
    
    
}
#footer{
    font-size: 15px;
    text-align: center;
}
 @media screen and (max-width:600px) {
     #content ul li{
         flex-direction: column;
         padding-top: 5px;
     }
     #mainvisual img{
         width: 100%;
         height: 500px;
         margin: 0 auto;
         padding-left: 30px;
     }
     .reverse{
         flex-direction: column;
     }
     #header h1{
         font-size: 30px;
         padding-left: 30px;
     }
     #header p{
         font-size: 20px;
         padding-left: 30px;
     }
     .text{
         font-size: 20px;
     }
     .text span{
         font-size: 20px;
     }
     .content-title{
         font-size: 20px;
     }
     .content ul img{
         margin: 0 auto;
         text-align: center;
     }
 }

    



   



